body {
  display:inline-block;
}
.pane {
  display:inline-block;
}
.ctrlDiv {
  background:gray;
}
.radcontainer{
  display:inline;
}
#tooltip {
  display:inline-block;
  text-align:center;
  margin:auto 0;
  width:25%;
}
.innerholder {
  display:flex;
}
