body {
  height:100vw;
}
.pane {
  width:30%;
  margin:0 auto;
}
.ctrlDiv {
  background:gray;
}
.radcontainer{
  display:inline;
}
#tooltip {
  display:inline-block;
  text-align:center;
  margin:auto 0;
  width:25%;
}
.innerholder {
  display:flex;
}
.panemover {
    width: 50px;
    background: blue;
    display: inline-block;
    height: 50px;
    position: relative;
}
#btnholder {

    width: 50%;
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-items: center;
    justify-content: center;
    height: 50px;

}
#addbtn {

    width: 20%;
    height: 100%;

}
